*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    background-color: yellow;
    align-items: center;

}

#screen {
    display: flex;
    height: 150px;
    width: 450px;
    background-color: green;
    margin: 20px 0px;
}


#row_0 {
    display: flex;
    height: 100px;
    width: 450px;
    background-color: green;
    margin: 10px 0px;

}

#row_1 {
    display: flex;
    height: 50px;
    width: 450px;
    background-color: green;
    margin: 10px 0px;
}

#row_2 {
    display: flex;
    height: 50px;
    width: 450px;
    background-color: green;
    margin: 10px 0px;
}

#row_3 {
    display: flex;
    height: 50px;
    width: 450px;
    background-color: green;
    margin: 10px 0px;
}

#row_4 {
    display: flex;
    height: 50px;
    width: 450px;
    background-color: green;
    margin: 10px 0px;
}